*{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
}
body{
  width: 100vw;
  margin: 0%;
  background-color: rgb(227, 233, 233);
}
.borderRad{
  border-radius: 0.25rem;
}
.header{
  padding: 1vw;
  background-color: white;
}
.header img{
  width: 3%;
  height: 3%;
}
.feed, .header, .lobby{
  display: flex;
  justify-content: center;
}
.msgBack{
  background-color: #BAD0E6;
  box-shadow: 3px 6px 10px rgba(80, 79, 79, 0.397);
  text-align: right;
  width: 28vw;
  margin-top: 3vw;
  padding: 0vw 1vw 1vw 1vw;
}
.messageBox{
  display: inherit;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: inset 5px 4px 10px rgba(109, 108, 108, 0.397);
  border: 2px solid #A3BED8;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  height: auto;
  width: 95%;
}
.counter{
  font-weight: 700;
  display: inline-flex;
  font-size: 0.8rem;
  text-align: right;
  color: #708090;
  margin: 0px;
}
.btnTweet{
  font-weight: 700;
  display: inline-flex;
  font-size: 1.2rem;
  color: rgb(255, 254, 254);
  background-color: #A4A7AC;
  border: none;
  box-shadow: 3px 6px 10px rgba(80, 79, 79, 0.397);
  padding: 0.25rem 0.5rem;
}
.postTweet{
  padding-left: 0px;
  display: flex;
  flex-direction: column-reverse;
}
.postTweet li{
  box-shadow: 5px 4px 10px rgba(109, 108, 108, 0.397);
  list-style: none;
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  width: 28vw;
  padding: 1vw;
  margin: 1px;
  word-wrap: break-word;
}
.postTweet p:first-child{
  text-align: right;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.85rem;
}
